* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #af082c;
    font-family: 'Press Start 2P', sans-serif; /* Fonte pixelada estilo jogo antigo */
}

/* Conteúdo da página */
body {
    background-image: url(/imagens/tela\ inteira.jpg);
    background-size: cover ;
    background-color: #0a0615;
    background-repeat: no-repeat;
}

/* cabeçalho da página */
header #cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 12px ridge #ffffff;
    margin-bottom: 50px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 7px;
}

/* efeitos das letras ao selecionar */
header ul li a:hover {
    color: white;
    text-decoration: underline;
}
header ul li a {
    transition: 300ms;
}

/* remoção das underlines */
a {
    text-decoration: none;
    font-weight: 600;
}

/* remoção dos pontos bullets */
ul {
    list-style: none;
    font-size: 16px;
}

/* Nome, H1 e H5 */
.container {
    text-align: center;
    user-select: none;
}

/* Nome */
.container .name h1 {
    font-size: 60px;
}

/* Github/ E-mail / Whatsapp */
.container .name h5 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 16px;
}

/* ARROW - Seta com animação */
#arrow {
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}

/* efeito de rotação do ponteiro */
.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}
.active {
    display: block !important;
}

/* About - texto */
#about p {
    max-width: 700px;
    margin: 0 auto;
}

/* formulário de contato */
.form {
    margin: 0 auto;
    width: 40%;
}

.form input {
    width: 50%;
    padding: 7px 10px;
}

.form button {
    width: 30%;
    padding: 7px 10px;
}