* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #af082c;
    font-family: 'Press Start 2P', sans-serif; /* Fonte pixelada estilo jogo antigo */
}

/* Conteúdo da página */
body {
    background-image: url(/imagens/tela\ inteira.jpg);
    background-size: cover ;
    background-color: #0a0615;
    background-repeat: no-repeat;
}

/* cabeçalho da página */
header #cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul {
    display: flex;
}

header ul li {
    padding: 7px;
}

/* remoção das underlines */
a {
    text-decoration: none;
}

/* remoção dos pontos bullets */
ul {
    list-style: none;
}

/* Nome, H1 e H5 */
.container {
    text-align: center;
}

/* Nome */
.container .name h1 {
    font-size: 60px;
}

/* Github/ E-mail / Whatsapp */
.container .name h5 {
    font-size: 20px;
}